* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e5e7eb;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    max-width: 1250px;
    margin: auto;
    padding: 0 20px;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logo-box {
    width: 40px;
    height: 40px;
    background: #2563eb;
    color: white;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
}

.logo h2 {
    color: #111827;
    font-size: 24px;
}

/* Navigation */

.nav-links {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-links a {
    text-decoration: none;
    color: #4b5563;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 500;
    transition: .3s;
}

.nav-links a:hover {
    background: #eef4ff;
    color: #2563eb;
}

/* Active Link */

.nav-links a.active {
    background: #eef4ff;
    color: #2563eb;
}

/* Buttons */

.nav-buttons {
    display: flex;
    gap: 12px;
}

.sign-in {
    text-decoration: none;
    color: #4b5563;
    padding: 10px 16px;
    border-radius: 8px;
    transition: .3s;
}

.sign-in:hover {
    background: #eef4ff;
}

.btn-primary {
    background: #2563eb;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: .3s;
}

.btn-primary:hover {
    background: #1d4ed8;
}

/* Menu Button */

.menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

/* Mobile Menu */

.mobile-menu {
    display: none;
}

@media (max-width:992px) {

    .nav-links,
    .nav-buttons {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        background: white;
        max-height: 0;
        overflow: hidden;
        transition: .3s;
    }

    .mobile-menu.show {
        max-height: 500px;
    }

    .mobile-menu a {
        text-decoration: none;
        color: #4b5563;
        padding: 12px;
        border-radius: 8px;
    }

    .mobile-menu a:hover {
        background: #eef4ff;
        color: #2563eb;
    }

    .mobile-signin {
        border: 1px solid #ddd;
        text-align: center;
    }

    .mobile-btn {
        background: #2563eb;
        color: white !important;
        text-align: center;
    }
}